.card-container{
    margin:0 auto;
    justify-content: space-around;
}
.container{
    text-align: center;
}
h2{
    color:antiquewhite;
}
a{
    text-decoration: none;
    color:white;
} 
.cart{
    position:fixed;
    top: 2rem;
    right: 2rem;

}
.removeBtnCart{
    margin-left: 1rem;
}